In [2]:
import pandas as pd
import numpy as np
from sklearn import pipeline, preprocessing, metrics, model_selection, ensemble
from sklearn_pandas import DataFrameMapper

In [3]:
data = pd.read_csv('auto-mpg.csv')

In [4]:
data.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [6]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [8]:
from sklearn.impute import SimpleImputer
mapper = DataFrameMapper([
                        (['cylinders','displacement','weight','acceleration','model year'], preprocessing.StandardScaler()),
                        (['origin'], preprocessing.OneHotEncoder())
                        ])

In [9]:
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

In [10]:
pipelineObj = pipeline.Pipeline([
    ('mapper',mapper),
    ('model',ensemble.RandomForestRegressor())
])

In [11]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [13]:
x = ['cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin']
y = ['mpg']

In [14]:
pipelineObj.fit(data[x],data[y])

C:\Users\ashis\.conda\envs\tf1\lib\site-packages\sklearn\pipeline.py:346: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cylinders', 'displacement',
                                             'weight', 'acceleration',
                                             'model year'],
                                            StandardScaler()),
                                           (['origin'], OneHotEncoder())])),
                ('model', RandomForestRegressor())])

In [15]:
pipelineObj.predict(data[x])

array([17.26 , 14.84 , 17.09 , 16.361, 16.661, 14.57 , 13.98 , 14.18 ,
       13.46 , 14.72 , 14.8  , 14.512, 14.9  , 14.52 , 23.908, 21.08 ,
       18.98 , 20.79 , 27.09 , 26.781, 24.27 , 24.22 , 24.69 , 25.14 ,
       20.41 , 10.93 , 10.965, 11.795,  9.87 , 27.16 , 26.705, 24.844,
       26.145, 19.514, 16.932, 17.641, 18.621, 18.1  , 13.965, 13.51 ,
       14.02 , 14.1  , 12.09 , 12.79 , 12.54 , 18.06 , 21.77 , 18.681,
       18.26 , 23.605, 27.12 , 29.46 , 29.495, 31.44 , 33.38 , 27.19 ,
       26.586, 24.497, 25.58 , 22.735, 20.53 , 22.38 , 13.4  , 13.57 ,
       14.55 , 13.99 , 16.14 , 11.78 , 12.74 , 12.38 , 13.125, 20.63 ,
       14.865, 13.58 , 13.24 , 14.06 , 19.02 , 22.311, 20.796, 26.02 ,
       22.511, 26.52 , 22.723, 27.02 , 26.78 , 13.52 , 14.62 , 13.48 ,
       14.1  , 14.764, 12.03 , 13.155, 13.085, 14.   , 12.5  , 12.05 ,
       13.38 , 18.606, 16.28 , 18.328, 17.783, 21.902, 26.376, 11.45 ,
       12.19 , 12.84 , 12.37 , 18.34 , 22.39 , 20.84 , 22.979, 22.14 ,
       20.47 , 21.394, 25.94 , 14.3  , 15.17 , 28.31 , 24.76 , 21.11 ,
       19.822, 15.153, 23.03 , 20.358, 12.49 , 20.117, 20.894, 19.42 ,
       16.01 , 31.073, 25.254, 31.126, 24.976, 15.72 , 15.975, 17.675,
       15.41 , 13.525, 14.01 , 13.77 , 14.27 , 27.6  , 27.31 , 26.303,
       31.761, 31.67 , 27.66 , 25.615, 25.66 , 24.06 , 25.125, 29.98 ,
       19.352, 17.557, 15.791, 15.977, 15.225, 15.025, 15.515, 14.425,
       17.024, 16.13 , 15.555, 17.135, 20.567, 18.973, 14.884, 28.43 ,
       23.578, 19.941, 22.776, 23.929, 25.469, 24.085, 18.992, 28.735,
       19.043, 23.323, 22.161, 21.058, 24.162, 32.605, 26.684, 25.027,
       25.117, 25.998, 26.995, 16.73 , 15.83 , 15.165, 14.82 , 21.403,
       20.792, 22.915, 21.503, 29.506, 25.58 , 29.03 , 32.77 , 19.54 ,
       18.245, 18.445, 18.182, 29.435, 31.755, 28.115, 25.765, 20.196,
       13.865, 19.783, 19.658, 16.987, 16.025, 13.73 , 13.857, 13.534,
       31.529, 29.39 , 34.187, 25.745, 33.052, 16.661, 16.76 , 15.627,
       15.315, 17.859, 20.484, 19.041, 18.267, 15.755, 15.583, 15.67 ,
       15.704, 30.177, 24.243, 25.885, 24.626, 30.895, 32.298, 30.777,
       29.822, 21.833, 22.574, 22.555, 40.979, 35.407, 33.855, 37.158,
       35.582, 19.517, 18.663, 19.432, 19.149, 20.263, 20.601, 24.674,
       20.298, 19.834, 20.353, 20.843, 18.787, 18.635, 19.306, 18.261,
       18.034, 17.126, 30.394, 25.929, 27.209, 29.779, 22.981, 23.403,
       22.922, 24.556, 21.172, 17.766, 21.889, 17.034, 32.678, 30.64 ,
       21.319, 21.12 , 23.542, 20.333, 20.57 , 17.464, 18.21 , 16.867,
       17.969, 16.586, 16.124, 19.958, 17.639, 34.087, 34.057, 35.219,
       27.764, 25.367, 21.17 , 27.414, 22.924, 34.754, 34.533, 33.704,
       37.047, 28.003, 27.716, 26.712, 31.548, 38.846, 37.176, 33.44 ,
       37.445, 27.817, 25.423, 24.593, 19.975, 34.427, 30.121, 31.715,
       35.238, 32.697, 42.846, 27.315, 40.973, 43.758, 39.688, 33.094,
       29.02 , 40.227, 39.137, 34.755, 33.734, 30.359, 28.372, 34.213,
       24.074, 32.526, 28.513, 26.974, 26.356, 24.497, 31.107, 38.302,
       38.325, 36.352, 33.982, 36.999, 36.818, 34.622, 34.585, 34.57 ,
       31.768, 33.988, 34.106, 34.079, 32.608, 32.295, 31.435, 28.511,
       28.417, 25.878, 25.955, 22.111, 24.493, 22.392, 19.222, 28.713,
       27.877, 32.866, 29.963, 29.259, 27.027, 24.878, 24.104, 35.715,
       36.091, 32.848, 37.494, 36.057, 35.847, 35.378, 33.846, 36.127,
       33.612, 36.456, 24.953, 31.239, 27.066, 24.71 , 30.855, 34.187,
       25.828, 26.798, 42.957, 32.241, 27.997, 29.497])

In [16]:
data[y]

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[398 rows x 1 columns]

In [19]:
import joblib

In [20]:
joblib.dump(pipelineObj,'ModelForMPG.pkl')

['ModelForMPG.pkl']

In [21]:
model = joblib.load('ModelForMPG.pkl')

In [36]:

print(model.predict(data[x][:5]))

[17.26  14.84  17.09  16.361 16.661]

In [37]:
print(data[y][:5])

    mpg
0  18.0
1  15.0
2  18.0
3  16.0
4  17.0